In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlalchemy

In [23]:
import psycopg2
from contextlib import contextmanager
import logging


@contextmanager
def connect(host, port, user, password, dbname):
    try:
        connection = psycopg2.connect(host=host, port=port, user=user, password=password, dbname=dbname)
        yield connection
    except Exception as e:
        connection.rollback()
        logging.error(e)
        raise
    else:
        connection.commit()
    finally:
        connection.close()


def runSQL(sql:str):
    with connect(host='127.0.0.1', port='5432', user='postgres', password='309512', dbname='data-tutorial') as conn:
        cur = conn.cursor()
        cur.execute(sql)
        cur.close()

def runSQL_result(sql:str):
    with connect(host='127.0.0.1', port='5432', user='postgres', password='309512', dbname='data-tutorial') as conn:
        cur = conn.cursor()
        cur.execute(sql)
        result = cur.fetchall()
        cur.close()
        return result

In [36]:
# data source:
# https://www.kaggle.com/gpreda/covid-world-vaccination-progress

df_country_vaccinations = pd.read_csv('./country_vaccinations.csv')
display(df_country_vaccinations.dtypes)
display(df_country_vaccinations)

country                                 object
iso_code                                object
date                                    object
total_vaccinations                     float64
people_vaccinated                      float64
people_fully_vaccinated                float64
daily_vaccinations_raw                 float64
daily_vaccinations                     float64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
daily_vaccinations_per_million         float64
vaccines                                object
source_name                             object
source_website                          object
dtype: object

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5135,Zimbabwe,ZWE,2021-02-28,18843.0,18843.0,NaN,3138.0,2551.0,0.13,0.13,NaN,172.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1367546700...
5136,Zimbabwe,ZWE,2021-03-01,21456.0,21456.0,NaN,2613.0,2877.0,0.14,0.14,NaN,194.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1367546700...
5137,Zimbabwe,ZWE,2021-03-02,25077.0,25077.0,NaN,3621.0,3005.0,0.17,0.17,NaN,202.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1367546700...
5138,Zimbabwe,ZWE,2021-03-03,27970.0,27970.0,NaN,2893.0,2871.0,0.19,0.19,NaN,193.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1367546700...
5139,Zimbabwe,ZWE,2021-03-04,30658.0,30658.0,NaN,2688.0,2807.0,0.21,0.21,NaN,189.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1367546700...

In [37]:
# create = """
#     CREATE TABLE test_io (
#         country VARCHAR(255),
#         iso_code VARCHAR(255),
#         date VARCHAR(255),
#         total_vaccinations float8,
#         people_vaccinated float8,
#         people_fully_vaccinated float8,
#         daily_vaccinations_raw float8,
#         daily_vaccinations float8,
#         total_vaccinations_per_hundred float8,
#         people_vaccinated_per_hundred float8,
#         people_fully_vaccinated_per_hundred float8,
#         daily_vaccinations_per_million float8,
#         vaccines VARCHAR(255),
#         source_name VARCHAR(255),
#         source_website TEXT
#     )
#     """
# runSQL(create)


# # run once, copy csv to db
# with connect(host='127.0.0.1', port='5432', user='postgres', password='309512', dbname='data-tutorial') as conn:
#     cur = conn.cursor()
#     f = open('./country_vaccinations.csv', 'r')
#     copy_sql = """
#         COPY test_io FROM stdin WITH CSV HEADER
#         DELIMITER as ','
#         """
#     cur.copy_expert(sql=copy_sql, file=f)
#     f.close()
#     cur.close()

# print(runSQL('DELETE FROM test_io'))
print(runSQL_result('SELECT COUNT(*) FROM test_io'))
print(runSQL_result('SELECT * FROM test_io LIMIT 1'))

[(5140,)]
[('Albania', 'ALB', '2021-01-10', 0.0, 0.0, None, None, None, 0.0, 0.0, None, None, 'Pfizer/BioNTech', 'Ministry of Health', 'https://shendetesia.gov.al/covid19-ministria-e-shendetesise-766-te-vaksinuar-3149-testime-903-te-sheruar-851-raste-te-reja-dhe-21-humbje-jete-ne-24-oret-e-fundit/')]

In [58]:
# df to postgres
engine = sqlalchemy.create_engine("postgresql://postgres:309512@localhost:5432/data-tutorial")
conection = engine.connect()
inspector = sqlalchemy.inspect(engine)

# df.to_sql()
df_country_vaccinations.to_sql(name='test_io', con=conection, if_exists='replace', index=False)
print(inspector.get_table_names())
conection.close()

['country_vaccinations', 'country_gdp_simple', 'country_gdppc_simple', 'test_io']

In [54]:
# postgres to df

# pd.read_sql_table()
df_new = pd.read_sql_table('test_io', engine, columns=['country', 'iso_code'])
display(df_new)


# pd.read_sql_query()
query = """
        SELECT COUNT(*) FROM test_io
        """
df_new = pd.read_sql_query(query, engine)
display(df_new)


df_new.to_csv('./df_new.csv', index=False)

       country iso_code
0      Albania      ALB
1      Albania      ALB
2      Albania      ALB
3      Albania      ALB
4      Albania      ALB
...        ...      ...
5135  Zimbabwe      ZWE
5136  Zimbabwe      ZWE
5137  Zimbabwe      ZWE
5138  Zimbabwe      ZWE
5139  Zimbabwe      ZWE

[5140 rows x 2 columns]

   count
0   5140